<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-Content-Type-Options" content="nosniff" />
<meta http-equiv="X-Frame-Options" content="SAMEORIGIN" />
<meta name="referrer" content="strict-origin-when-cross-origin" />
<meta name="generator" content="{{ eleventy.generator }}" />
<meta name="author" content="Guillaume Brioudes Capponi" />
<title>{{ title }}</title>
<meta property="og:title" content="{{ title }}" />
<meta property="og:type" content="website" />
<meta name="theme-color" content="#ffffff" />
<meta name="date" content="{{ today }}" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="manifest" href="/manifest.json" />