<!DOCTYPE html>
<html lang="fr">
<head>
  {% include "meta.liquid" %}
  <link rel="stylesheet" href="/assets/style.css" />
  <style>
    [type="search"] {
      box-sizing: border-box;
      width: 100%;
      padding: 0.5em;
      margin-top: 1em;
      margin-bottom: 1em;
    }
    
    .hide {
      display: none;
    }

    .search-results-item {
      text-decoration: none;
    }

    .search-results-item-title {
      text-decoration: underline;
    }
  </style>
</head>
<body>

  <header>
    {% include "nav.liquid" %}
  </header>

  <main>
    {{ content }}

    <form id="mastei-search">
      <fieldset>
        <legend>Type de recherche</legend>
        <label>
          <input type="radio" name="search-type" value="all" checked>
          Tous
        </label>
        <label>
          <input type="radio" name="search-type" value="record">
          Fiches
        </label>
        <label>
          <input type="radio" name="search-type" value="wiki">
          Wiki
        </label>
      </fieldset>

      <input type="search" id="search-term" placeholder="Rechercher…" autocomplete="off" />
    </form>

    <div id="search-results" class="hide">
      <h2 id="search-results-count">Résultats</h2>
      <ul id="search-results-list"></ul>
    </div>
  </main>

  <template id="search-result-template">
    <li>
      <a href="" class="search-results-item">
        <span class="search-results-item-title"></span>
      </a>
      <p class="search-results-item-matches"></p>
    </li>
  </template>

  <template id="search-no-results-template">
    <li>Aucun résultat trouvé.</li>
  </template>

  <script type="module" src="/assets/search.js"></script>
</body>
</html>
