:root {
  --color-highlight: #ff6b35;
  --color-black: #202122;
  --color-gray-800: hsl(210, 3%, 33%);
  --color-gray-500: hsl(210, 3%, 53%);
  --color-gray-300: hsl(210, 3%, 73%);
}

body {
  font-family:
    system-ui,
    -apple-system,
    sans-serif;
  margin: 0 auto;
  max-width: 40em;
  padding: 1em 0.4em;
  color: var(--color-black);
}

a {
  color: inherit;
}

a[aria-current='page'] {
  font-weight: bold;
}

ul {
  list-style: none;
}

.prose {
  font-family: Georgia, serif;
}

p,
li {
  max-width: 65ch;
}

th,
td {
  border-bottom: 1px solid rgb(233, 233, 231);
  padding: 8px 12px;
  text-align: left;
}

thead th,
summary {
  cursor: pointer;
  user-select: none;
}

li + li {
  margin-top: 0.2em;
}

mark {
  background-color: rgb(237, 237, 237);
}

hr {
  border: 0;
  margin: 3.5em 0 2.5em 0;
  color: inherit;
}

hr::after {
  content: 'â‚';
  display: block;
  text-align: center;
}

circle {
  cursor: pointer;
}

@media print {
  a {
    text-decoration: none;
  }

  details > summary {
    list-style: none;
  }
}

u {
  text-decoration: red wavy underline;
}

.hide {
  display: none;
}
