body {
  font-family:
    system-ui,
    -apple-system,
    sans-serif;
  margin: 0 auto;
  max-width: 650px;
  padding-top: 48px;
}

a {
  color: inherit;
}

a[aria-current='page'] {
  font-weight: bold;
}

ul {
  list-style: none;
}

summary {
  cursor: pointer;
}

.prose {
  font-family: Georgia, serif;
}

th,
td {
  border-bottom: 1px solid rgb(233, 233, 231);
  padding: 8px 12px;
  text-align: left;
}
