body {
  font-family:
    system-ui,
    -apple-system,
    sans-serif;
  margin: 0 auto;
  max-width: 40em;
  padding: 1em 0.4em;
}

a {
  color: inherit;
}

a[aria-current='page'] {
  font-weight: bold;
}

ul {
  list-style: none;
}

summary {
  cursor: pointer;
}

.prose {
  font-family: Georgia, serif;
}

p,
li {
  max-width: 65ch;
}

th,
td {
  border-bottom: 1px solid rgb(233, 233, 231);
  padding: 8px 12px;
  text-align: left;
}

thead th {
  cursor: pointer;
  user-select: none;
}

li + li {
  margin-top: 0.2em;
}

mark {
  background-color: rgb(237, 237, 237);
}

hr {
  border: 0;
  margin: 3.5em 0 2.5em 0;
  color: inherit;
}

hr::after {
  content: 'â‚';
  display: block;
  text-align: center;
}

circle {
  cursor: pointer;
}

@media print {
  a {
    text-decoration: none;
  }

  details > summary {
    list-style: none;
  }
}

u {
  text-decoration: red wavy underline;
}
